.container{
    padding: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    h1{
        margin: 0;
    }
    span{
        font-weight: bold;
        color: green;
    }
}
.game{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid black;
    padding: 20px 0;
}
.draw{
    position: relative;
    width: 300px;
    height: 300px;
    .base{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%);
        background-color: black;
        height: 4px;
        width: 30px;
    }
    .stand{
        position: absolute;
        left: 50%;
        top : 100%;
        transform: translate(-50% , -100%);
        background-color: black;
        width: 4px;
        height: 200px;
    }
    .roof{
        position: absolute;
        left: 50%;
        bottom: 180px;
        width: 70px;
        height: 4px;
        background-color: black;
    }
    .roof::before{
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 4px;
        height: 20px;
        background-color: black;
    }
    .wire{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: transparent;
        border: 4px dotted black;
        left: calc(50% + 70px);
        transform: translateX(-50%);
        bottom: 105px;
    }
    .head{
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: transparent;
        border: 4px solid black;
        left: calc(50% + 70px);
        transform: translateX(-50%);
        bottom: 112px;
    }
    .body{
        position: absolute;
        width: 4px;
        height: 80px;
        background-color: black;
        left: calc(50% + 70px);
        transform: translateX(-50%);
        bottom: 33px;
    }
    .hands{
        .left{
            position: absolute;
            height: 4px;
            width: 30px;
            background-color: black;
            left: calc(50% + 72px);
            transform: translateX(-100%) rotate(45deg);
            bottom: 80px;
        }
        .right{
            position: absolute;
            height: 4px;
            width: 30px;
            background-color: black;
            left: calc(50% + 68px);
            transform: translateX(0) rotate(-45deg);
            bottom: 80px;
        }
    }
    .leags{
        .left{
            position: absolute;
            height: 4px;
            width: 30px;
            background-color: black;
            left: calc(50% + 72px);
            transform: translateX(-100%) rotate(-45deg);
            bottom: 20px;
        }
        .right{
            position: absolute;
            height: 4px;
            width: 30px;
            background-color: black;
            left: calc(50% + 68px);
            transform: translateX(0) rotate(45deg);
            bottom: 20px;
        }
    }
}
.keyboard{
    width: 283px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    .key{
        width: 30px;
        height: 30px;
        background-color: green;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        font-size: larger;
        text-align: center;
        border-radius: 5px;
    }
}
.inputs{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    input{
        width: 30px;
        height: 30px;
        border: none;
        border-bottom: 2px solid black;
        background-color: #eee;
        font-weight: bolder;
        font-size: larger;
        text-align: center;
    }
}
.result{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.restart{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    button{
        background-color: green;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 20px;
        font-weight: bolder;
        font-size: larger;
    }
}
@media (max-width : 667px){
    .game{
        flex-direction: column;
    }
}